<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">

		<div class="col-md-3">
		<h3>Name:</h3>
			<p>
			<% cache @product do %>
			<strong><%= @product.name %></strong>
  			<% end %>	
			</p>
		</div>

		<div class="col-md-3">
		  <h3>Details:</h3>
			<p>
  				<%= @product.details %>
			</p>
		</div>

		<div class="col-md-3">
		  <h3>Product Photo <span class="glyphicon glyphicon-picture"></span></h3>
			<p>
  				<%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>
			</p>
		</div>

		<div class="col-md-3">
		  <h3>Color:</h3>
			<p>
  				<%= @product.color %>
			</p>
			<h3>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></h3>
		</div>

		<div class="col-md-3">
		  <h3>Price:</h3>
			<p>
  				<%= @product.price %>
			</p>
			<%= form_tag "/payments/create" do %>
				<%= render partial: "shared/stripe_checkout_button" %>
			<% end %>
		</div>


	</div>

	<%= render 'new_comment' %>
	<%= render 'comments' %>
	<%= will_paginate @comments %>	



</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>