<!DOCTYPE html>
<html>
<head>
  <title>FirstRailsApp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Quicksand:400,700,300' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script
  
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logoType" href="/">The Bike Store</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method=> :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path) %>
              <% end %>
            </li>            
            
              <div class="navbar-form">
              <%= form_tag("/products", method: "get") do %>
                <%= label_tag(:q, "Search for:") %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Search") %>
              <% end %>
              </div>
            

          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="container">
  <div class="row">
    <h1 class="logoType titleSize text-center">Welcome to the Bike Store!</h1>
    <h2 class="headerType text-center">Your source of used bikes.</h2>
    <%= image_tag("bike.jpg", class: "img-responsive centerMargins") %>
    <%= yield %>      
  </div>
</div>


</body>
</html>
